<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>流量分析</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/network.css">

</head>
<body>

<div class="layui-fluid" id="app">
    <div class="layui-row left-area">
        <div class="layui-col-md4">
            <fieldset class="layui-elem-field">
                <legend>网卡接受数据包情况</legend>
                <div class="layui-field-box">
                    <div class="packet-list">
                        <ol>
                            <li v-for="(item,index) in list"  class="item-blcok" @click="show(index)">
                                <div v-if="item.type == 'tcp'" :class="{tcp:item.type == 'tcp'}" >
                                    {{item.data.src_ip}}:{{item.data.src_port}} -> {{item.data.dst_ip}}:{{item.data.dst_port}}
                                </div>
                                <div v-if="item.type == 'udp'" :class="{udp:item.type == 'udp'}">
                                    {{item.data.src_ip}}:{{item.data.src_port}} -> {{item.data.dst_ip}}:{{item.data.dst_port}}
                                </div>
                                <div v-if="item.type == 'arp'" :class="{arp:item.type == 'arp'}">
                                    {{item.data.senderHardwareAddress}} -> {{item.data.targetHardwareAddress}}
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="layui-col-md8 right-area">
            <div class="layui-row">
                <fieldset class="layui-elem-field">
                    <legend>网卡情况</legend>
                    <div class="layui-field-box">
                        <div class="echart-view" id="view-show">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>数据包详情</legend>
                    <div class="layui-field-box">
                        <div class="paket-detail">
                            <div class="layui-tab">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">原始数据</li>
                                    <li>链路层</li>
                                    <li>网络层</li>
                                    <li>传输层</li>
                                    <li>应用层</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">{{raw_data}}</div>
                                    <div class="layui-tab-item">
                                        <table class="layui-table">
                                            <colgroup>
                                                <col width="150">
                                                <col width="200">
                                                <col>
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>原MAC地址</th>
                                                <th>目的MAC地址</th>
                                                <th>类型</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{eth_data.destinationAddress}}</td>
                                                <td>{{eth_data.sourceAddress}}</td>
                                                <td>{{eth_data.frametype}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="layui-tab-item">
                                        <table class="layui-table">
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th>版本号</th>
                                                <th>TOS</th>
                                                <th>总长度</th>
                                                <th>TTL</th>
                                                <th>协议</th>
                                                <th>源地址</th>
                                                <th>目的地址</th>
                                                <th>偏移</th>
                                                <th>选项</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ip_data.version}}</td>
                                                <td>{{ip_data.rsv_tos}}</td>
                                                <td>{{ip_data.length}}</td>
                                                <td>{{ip_data.hop_limit}}</td>
                                                <td>{{ip_data.protocol}}</td>
                                                <td>{{ip_data.src_ip}}</td>
                                                <td>{{ip_data.dst_ip}}</td>
                                                <td>{{ip_data.offset}}</td>
                                                <td>{{ip_data.option}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="layui-tab-item">
                                        <table class="layui-table" v-if="raw_data.type == 'tcp'">
                                            <thead>
                                            <tr>
                                                <th>源端口</th>
                                                <th>目的端口</th>
                                                <th>数据序号</th>
                                                <th>确认序号</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{transfer_data.src_port}}</td>
                                                <td>{{transfer_data.dst_port}}</td>
                                                <td>{{transfer_data.sequence}}</td>
                                                <td>{{transfer_data.ack_num}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="layui-tab-item">
                                        <table class="layui-table" v-if="raw_data.type == 'tcp'">
                                            <thead>
                                            <tr>
                                                <th>数据</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{transfer_data.data}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script src="layui/layui.all.js"></script>
<script src="js/vue.js"></script>
<script src="js/jq.js"></script>
<script src="js/axios.js"></script>
<script src="js/echarts.min.js"></script>
<script type="application/javascript">
    var echart_datas = [];
    var raw_data = "请选择";
    var eth_data = "请选择";
    var ip_data = "请选择";
    var transfer_data = "请选择";
    var all_bottom = true;
    var vm = new Vue({
        el: '#app',
        data: {
            list:[]
        },
        methods: {
            send:() => {
                axios.get("http://localhost:8080/network/get")
                    .then(res=> {
                        if(res.data != null) {
                            console.log(res.data)
                           var resdata = JSON.parse(res.data);
                           resdata.data = JSON.parse(resdata.data);
                           vm.$data.list.push(resdata);
                        }
                    });
                //移动滚动条
                if(all_bottom){
                    $(".packet-list").scrollTop($(".packet-list")[0].scrollHeight+300)
                }
            },
            show:index =>{
                //初始化数据
                raw_data = vm.$data.list[index];
                eth_data = raw_data.data.datalink;
                ip_data = raw_data.data;
                transfer_data = raw_data.data;
            }
        }
    })
    //--------------------------网卡速率图标展示--------------------------
    var myChart = echarts.init(document.getElementById('view-show'));
    var option = {
        xAxis: {
            type:'time',
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            type: 'line',
            showSymbol: false,
            hoverAnimation: false,
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    setInterval(()=>{
        axios.get("http://localhost:8080/network/getspeed")
            .then(res=> {
                if(echart_datas.length > 50) {
                    for(var i = 0; i< 6; i++){
                        echart_datas.shift();
                    }
                }
                echart_datas.push({"value":[new Date(),res.data.data]})}
            )
        myChart.setOption(
            {
                series: [{
                    data: echart_datas,
                }]
            }
        )
    },1000);
    //--------------------------------------------------------
    //获取数据包
    setInterval(vm.send,1000);


</script>
</body>
</html>
