<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>流量分析</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<div class="layui-fluid" id="app">

    <div class="top">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md4">
                <label>IP地址</label>
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-col-md4">
                <label>端口号</label>
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-col-md4">
                <label>协议</label>
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="down">
        <fieldset class="layui-elem-field">
            <legend>数据包详情</legend>
            <div class="layui-field-box">
                <div class="paket-detail">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">原始数据</li>
                            <li>链路层</li>
                            <li>网络层</li>
                            <li>传输层</li>
                            <li>应用层</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">{{raw_data}}</div>
                            <div class="layui-tab-item">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="150">
                                        <col width="200">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>原MAC地址</th>
                                        <th>目的MAC地址</th>
                                        <th>类型</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{eth_data.destinationAddress}}</td>
                                        <td>{{eth_data.sourceAddress}}</td>
                                        <td>{{eth_data.frametype}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="layui-tab-item">
                                <table class="layui-table">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>版本号</th>
                                        <th>TOS</th>
                                        <th>总长度</th>
                                        <th>TTL</th>
                                        <th>协议</th>
                                        <th>源地址</th>
                                        <th>目的地址</th>
                                        <th>偏移</th>
                                        <th>选项</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ip_data.version}}</td>
                                        <td>{{ip_data.rsv_tos}}</td>
                                        <td>{{ip_data.length}}</td>
                                        <td>{{ip_data.hop_limit}}</td>
                                        <td>{{ip_data.protocol}}</td>
                                        <td>{{ip_data.src_ip}}</td>
                                        <td>{{ip_data.dst_ip}}</td>
                                        <td>{{ip_data.offset}}</td>
                                        <td>{{ip_data.option}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-tab-item">
                                <table class="layui-table" v-if="raw_data.type == 'tcp'">
                                    <thead>
                                    <tr>
                                        <th>源端口</th>
                                        <th>目的端口</th>
                                        <th>数据序号</th>
                                        <th>确认序号</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{transfer_data.src_port}}</td>
                                        <td>{{transfer_data.dst_port}}</td>
                                        <td>{{transfer_data.sequence}}</td>
                                        <td>{{transfer_data.ack_num}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-tab-item">
                                <table class="layui-table" v-if="raw_data.type == 'tcp'">
                                    <thead>
                                    <tr>
                                        <th>数据</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{transfer_data.data}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

</div>
</body>
<script src="layui/layui.all.js"></script>
<script src="js/vue.js"></script>
<script src="js/jq.js"></script>
<script src="js/axios.js"></script>
<script src="js/echarts.min.js"></script>
<script type="application/javascript">
    var vue = new Vue({
       el : '#app'
    });
    //获取屏幕
    setInterval(()=> {
        $("#view-img").attr('src','http://localhost:8080/images/pV.jpg?'+Math.random());
        console.log("refalsh.,....")
    },3000);
</script>
</html>