<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/screen.css">
</head>
<body>

<div class="layui-fluid" id="app">
    <div class="layui-row">
        <div class="layui-col-md8">
            <div class="screen">
                <img src="" alt="" id="view-img">
            </div>
            <div class="cmd">
                <div class="top">
                    <textarea name=""  v-model="history" style="height: 200px;width: 100%"></textarea>
                </div>
                <div class="down">
                    <input type="text" class="layui-input" v-model="cmd.cmd">
                    <button type="button" class="layui-btn" @click="send()">发送</button>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="result">
                <textarea name="" id="" v-model="res" style="height: 700px;width: 100%"></textarea>
            </div>
        </div>
    </div>
</div>

</body>
<script src="layui/layui.all.js"></script>
<script src="js/vue.js"></script>
<script src="js/jq.js"></script>
<script src="js/axios.js"></script>
<script src="js/echarts.min.js"></script>
<script type="application/javascript">
    //获取屏幕
    setInterval(() => {
        $("#view-img").attr('src', 'http://localhost:8080/images/pV.jpg?' + Math.random());
        console.log("refalsh.,....")
    }, 3000);

    var host = "http://localhost:8080"
    var app = new Vue({
       el:"#app",
       data:{
           history:"",
           cmd:{cmd:""},
           res:""
       },
       methods:{
           send : ()=>{
               app.history += app.cmd.cmd + "\n";
               axios.post("http://localhost:8080/control/cmd",app.cmd).then(res=>{
                   app.res += res.data.msg;
               })
           }
       }
    });
    setInterval(() => {
        axios.get("http://localhost:8080/control/cmdres").then(res=>{
            let ans = res.data.data;
            if(ans != undefined){
                app.res += ans +"\n";
            }
        })
    }, 1000);
</script>
</html>